@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

/* #c4deea azul */
/* #e7643e laranja*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Baloo 2', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
