@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C4DEEA;
}

.background {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 716px;
  width: 100%;
  background: url(../public/home-background.png) center top;
  background-size: cover;
  margin-bottom: 50px;
}

.boxhome {
	background: #ffffffb3;
	width: 27.058%;
	height: 50.978%;
	border-radius: 100%;
	left: 50px;
	top: 175px;
	position: relative;
}

.centralizador {
	display: flex;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.imgconfig {
    margin: 0 auto;
    width: 82%;
    top: 80px;
    text-align: right;
    position: relative;
}

.imgconfig p {
	width: 71%;
    float: right;
    margin-right: 13px;
    font-size: 18px;
    margin-top: -35px;
}

.boxsoptions {
	float: left;
    width: 306px;
    text-align: center;
    margin: 0 auto;
	
}

.boxsoptions p {
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
text-align: center;
}

.agilidade {
	margin-top: 50px;
font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
text-align: center;
}

.seguranca {
	margin-top: 20px;
	font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
text-align: center;
}

.economia {
	margin-top: 28px;
	font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
text-align: center;
}

.facilidade {
	margin-top: 59px;
	font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
text-align: center;
}

.pqalugar {
	width: 100%;
    background: white;
    float: left;
	    margin-bottom: 50px;
}

.title {
    margin-bottom: 60px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    color: #E7643E;
}

.tresmodas {
  background: #C4DEEA;
    float: left;
    width: 100%;
	padding-top: 50px;
}

.boxsoptionsmodes {
    float: left;
    width: 412px;
    text-align: center;
    margin: 0 auto;
}

.boxsoptionsmodes p {
height: 96px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;
}

.boxsoptionsmodes h2 {
font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
text-align: center;
}

.number {
	color: #000000;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 288px;
    text-align: left;
    opacity: 0.1;
    float: left;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	margin-top: -50px;
}

a.optresmodas {
    text-decoration: none;
    color: #FFFFFF;
    width: 170px;
    display: flex;
    margin-left: 168px;
    margin-top: 24px;
}

a.optresmodas2 {
    text-decoration: none;
    color: #FFFFFF;
    width: 170px;
    display: flex;
    margin-left: 204px;
    margin-top: 24px;
}

a.optresmodas3 {
    text-decoration: none;
    color: #FFFFFF;
    width: 170px;
    display: flex;
    margin-left: 208px;
    margin-top: 24px;
}

a.optresmodas:hover, a.optresmodas2:hover, a.optresmodas3:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.optresmodas, .optresmodas2, .optresmodas3 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.125em;
    text-transform: uppercase;    
    color: #FFFFFF;

    padding: 1em;

    background: #E7643E;
    border-radius: 8px;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 1000px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  
  .centralizador {
	flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .boxhome {
	background: #ffffffb3;
    width: 200px;
    height: 199px;
    border-radius: 100%;
    left: 50px;
    top: 70px;
    position: relative;
}
.imgconfig {
    top: 48px;
}
.imgconfig p {
font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    position: relative;
    line-height: 14px;
    margin-top: -20px;
    left: 17px;
    text-align: left;
}
.background {
  height: 382px;
}
}
