@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

.menu {
    width: 90%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
}
.menu a:hover {
    color: #257ba3;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    margin-right: 100px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.105em;

    color: #000000;
}

.conta {
    background: #E7643E;
    border-radius: 15px;

    padding: 15px 30px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.105em;

    color: #FFFFFF;
}